<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <h1>Add a New Fact!</h1>
        <div class="form">
        <h2>Submit a Fact Form</h2>
        <form>
            <label for="submitter"><h3>Name</h3></label>
            <input type="text" name="submitter">
            <br/>
            <label for="fact"><h3>Fact</h3></label>
            <textarea name="fact"></textarea>
            <br/>
            <input type="submit" value="submit fact">
            <br/>
            <a href="/pets">Home</a>
        </form>
        </div>
    </div>
</body>
</html>