<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetFax | Pets</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="showPets">
        <h1>{{ pet.pet_name }}'s page</h1>
        <h2>{{ pet.pet_name }}</h2>
        <h3>{{ pet.pet_fact }}</h3>
        <img src="{{ pet.pet_photo }}" alt="Photo of pet"/>
        <br/>
        <a href="/pets">Go back</a>    
    </div>
    
</body>
</html>